ion-content{
  --ion-background-color:#2d0b3a;
}





ion-button {
  --border-width: 0;
  --color: white;
  --background: #ff007f;
  --border-radius: 20px;
  width: 80%;
  margin: 10px auto;
  text-align: center;
}  

ion-toolbar{
  --ion-background-color: transparent;
} 

.subtitle {
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  margin-top: 10px;
  font-weight: bold;
}