ion-toolbar{
    --ion-background-color:transparent;
    opacity: 0;
}

ion-content{
    --ion-background-color:#c1c4ea;
}

ion-card{
    box-shadow: none;
}

.wrapform{
    margin-top: 30px;

}

ion-itme{
    ion-input{
        color: white;
    }
}

.password_forgot{
    text-align: right;
    
}

.sing-btn-wrap{
    text-align: center;
    padding-top: 30px;
    .sing-btn{
        --ion-primary-color: rgba(56, 56, 57, 0.667);
        color: white;
    }
}

.ion-card-footer{
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    
    span{
    color: white;
    font-size: 12px;
    font-weight: 200;
    }
 /* From Uiverse.io by cssbuttons-io */ 
    button {
    align-items: center;
    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  button:active,
  button:hover {
    outline: 0;
  }
  
  button span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }
  
  button:hover span {
    background: none;
  }
  
  button:active {
    transform: scale(0.9);
  }
  

ion-card-title{
    text-align: center;
}

}