<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Foro Estudio</ion-title>
    <div class="subtitle">Home</div>
  </ion-toolbar>
</ion-header>



<ion-content id="main-content">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h2>Bienvenido, {{ username }}!</h2> <!-- Display the username -->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-card  (click)="animateCard()" [@cardAnimation]="animationState">
          <img src="../../assets/img/construfut.webp" alt="Apple Pencil">
          <ion-card-header>
            <ion-card-title>Taller de Emprendimiento: "Construye tu Futuro"</ion-card-title>
            <ion-card-subtitle>"Descubre herramientas y estrategias para lanzar tu propio negocio."
              Participa este jueves a las 4:00 PM en el salón principal. Una excelente oportunidad para aprender de expertos en el mundo del emprendimiento.</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-card  (click)="animateCard()" [@cardAnimation]="animationState">
          <img src="../../assets/img/tendencias-tecnologicas-825x460.jpg" alt="Educación Moderna">
          <ion-card-header>
            <ion-card-title>Conferencia: "Tendencias en Tecnología y Futuro Laboral"</ion-card-title>
            <ion-card-subtitle>"Prepárate para los empleos del mañana."
              El próximo martes, en el auditorio, un reconocido especialista en tecnología compartirá sus perspectivas sobre el impacto de la inteligencia artificial en el mercado laboral.</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-card  (click)="animateCard()" [@cardAnimation]="animationState">
          <img src="assets/lavanderia.jpg" alt="Lavandería">
          <ion-card-header>
            <ion-card-title>Campeonato Deportivo Intercarreras</ion-card-title>
            <ion-card-subtitle>"Muestra tu espíritu competitivo y apoya a tu equipo."
              Del 5 al 9 de diciembre, disfruta de emocionantes partidos de fútbol, voleibol y baloncesto. Inscripciones abiertas en recepción.</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-card  (click)="animateCard()" [@cardAnimation]="animationState">
          <img src="assets/cafe.jpg" alt="Café">
          <ion-card-header>
            <ion-card-title>Explorando los secretos cautivadores del café: mito y verdad</ion-card-title>
            <ion-card-subtitle>Por Comunidad Universitarios, en tendencias-blogs</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
  <ion-content class="ion-padding">
    <ion-button expand="block" (click)="setOpen(true)">Open</ion-button>
    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Modal</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni illum quidem recusandae ducimus quos
            reprehenderit. Veniam, molestias quos, dolorum consequuntur nisi deserunt omnis id illo sit cum qui. Eaque,
            dicta.
          </p>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-content>
</ion-toolbar>
</ion-footer>



